.white-background
{

    -fx-background-color: white;
}
.black-background
{

    -fx-background-color: black;
}

.green-background
{

    -fx-background-color: gray;
}

.margin {
    -fx-margin: 10px;
}
.right-side-border
{

    -fx-border-color: #6F6F6F;
    -fx-border-width: 0 1 0 0;
}
.search-container
{

    -fx-border-color: #6F6F6F;
    -fx-border-radius: 30;
}
.transparent
{

    -fx-background-color: rgba(0,0,0,0);
}
.primary-color
{
    -fx-background-color: #EFF2F6;
}

.border-radius {
    -fx-border-radius: 50px;
}
.box-shadow {
    -fx-effect: dropshadow(gaussian, gray, 10, 0, 0, 0);
}

.hover-red:hover {
    -fx-background-color: red;
}

.hover-grow {

    -fx-background-color: rgba(0, 0, 255, 0.15);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: white;
    -fx-cursor: hand;
}

.hover-grow:hover {

}

.zone {
    -fx-overflow: hidden;
}
.anchor-pane-element {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 10px; /* Padding around the content */
    -fx-margin: 50px; /* Margin around the entire AnchorPane */


}
.delete-button {
    -fx-background-color: #ff6347; /* Red color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.delete-button:hover {
    -fx-background-color: #d9534f; /* Darker red color on hover */
}

.delete-button:pressed {
    -fx-background-color: #c9302c; /* Even darker red color on click */
}
.add-button {
    -fx-background-color: rgba(0, 0, 255, 0.47); /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.add-button:hover {
    -fx-background-color: rgba(0, 0, 255, 0.31); /* Darker green color on hover */
}

.add-button:pressed {
    -fx-background-color: rgba(70, 70, 236, 0.82); /* Original green color on click */
}











.edit-button {
    -fx-background-color: rgba(70, 70, 236, 0.82); /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.edit-button:hover {
    -fx-background-color: rgba(166, 186, 245, 0.73); /* Darker green color on hover */
}

.edit-button:pressed {
    -fx-background-color: rgba(166, 186, 245, 0.85); /* Original green color on click */
}




.view-button {
    -fx-background-color: rgba(29, 29, 51, 0.82); /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.view-button:hover {
    -fx-background-color: rgba(29, 29, 51, 0.57); /* Green color */
}

.view-button:pressed {
    -fx-background-color: rgba(29, 29, 51, 0.85); /* Green color */
}





.Share-button {
    -fx-background-color: rgba(108, 61, 255, 0.85); /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.Share-button:hover {
    -fx-background-color: rgba(108, 61, 255, 0.55); /* Green color */
}

.Share-button:pressed {
    -fx-background-color: rgba(108, 61, 255, 0.45); /* Green color */
}





.Revoke-button {
    -fx-background-color: rgba(253, 91, 91, 0.85); /* Green color */
    -fx-text-fill: white; /* Text color */
    -fx-border-color: transparent; /* Remove border */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px 16px; /* Add padding */
    -fx-cursor: hand; /* Show pointer cursor on hover */
}

/* Define additional styles for hover and active states if needed */
.Revoke-button:hover {
    -fx-background-color: rgba(253, 91, 91, 0.7); /* Green color */
}

.Revoke-button:pressed {
    -fx-background-color: rgba(253, 91, 91, 0.44); /* Green color */
}





.text-area {
    -fx-background-color: #ffffff; /* Background color */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px; /* Add padding */
    -fx-pref-height: 20px; /* Preferred height */
}


.des {
    -fx-background-color: #ffffff; /* Background color */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px; /* Add padding */
    -fx-pref-height: 100px; /* Preferred height */
}




.combo-box {
    -fx-background-color: #ffffff; /* Background color */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-radius: 4px; /* Add border radius for rounded corners */
    -fx-padding: 8px; /* Add padding */
    -fx-pref-width: 200px; /* Preferred width */
}

.checkbox {
    -fx-background-color: #ffffff; /* Background color */
    -fx-border-color: #000000; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 5px; /* Padding */
}

.checkbox:selected {
    -fx-background-color: #336699; /* Background color when selected */
    -fx-text-fill: white; /* Text color when selected */
}
